<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"> 
  <head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
    <title>Maptastic Test</title>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
		<%= javascript_include_tag :all %>
		<%= stylesheet_link_tag :all %>
	</head> 
	<body>
		<%= link_to 'Locations', locations_path %> | <%= link_to 'Users', users_path %>
		<%= yield %>
	</body>
</html>